@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Fira Sans'),
		url('FiraSans-Regular.woff') format('woff'),
		url('FiraSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src:
		local('Fira Sans'),
		url('FiraSans-Medium.woff') format('woff'),
		url('FiraSans-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('Fira Sans'),
		url('FiraSans-Bold.woff') format('woff'),
		url('FiraSans-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local('Fira Sans'),
		url('FiraSans-Italic.woff') format('woff'),
		url('FiraSans-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 500;
	src:
		local('Fira Sans'),
		url('FiraSans-MediumItalic.woff') format('woff'),
		url('FiraSans-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 700;
	src:
		local('Fira Sans'),
		url('FiraSans-BoldItalic.woff') format('woff'),
		url('FiraSans-BoldItalic.woff2') format('woff2');
}