<div class="article_meta">

  <!--
  <div class="article_meta">
    <p>Posted on: {{ article.locale_date }}</p>
  </div>
  {% if article.readtime %}
  <div class="article_readtime">
    <p>Estimated read time: {{article.readtime.minutes}} minutes</p>
  </div>
  {% endif %}
  -->
{% if article.publication %}
        {% if article.authors %}
                <address class="vcard author">
                {% for author in article.authors %}
                        <a class="url fn" href="{{ author | lookup_author_webpage }}">{{ author }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
                </address>
        {% endif %}
        <span class="conference">
                {% if article.accepted %} {{article.place}} {{article.date | strftime('%Y')}} {% endif %}
                {% if article.submitted %} {{article.place}} {{article.date | strftime('%Y')}} {% trans %}(Submitted){% endtrans %} {% endif %}
                {% if article.toappear %} {{article.place}} {{article.date | strftime('%Y')}} {% trans %}(To appear){% endtrans %} {% endif %}
        </abbr>

{% else %}
        {% if article.start and article.end %}
                {{ article.start | strftime('%B %Y')}} – {{ article.end | strftime('%B %Y') }}
        {% elif article.ongoing %}
                {{ article.locale_date}} – …
        {% else %}
                {{ article.locale_date }}
        {% endif %}

        {% if article.place and article.authors %}
                <address class="vcard author">
                {{ article.place}}, 
                {% trans %}with{% endtrans %} {% for author in article.authors %}
                        <a class="url fn" href="{{ author | lookup_author_webpage }}">{{ author }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
                </address>
        {% elif article.place %}
        <address class="vcard author">
        {{ article.place}}
        </address>
        {% elif article.authors %}
                <address class="vcard author">
                {% trans %}With{% endtrans %} {% for author in article.authors %}
                        <a class="url fn" href="{{ author | lookup_author_webpage }}">{{ author }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
                </address>
        {% endif %}
{% endif %}
</div><!-- /.post-info -->