<div class="article_meta">

<!-- Date -->
<p>
{% if article.publication %}
    {% if article.accepted %} {{article.place}}, {{article.date | strftime('%Y')}} {% if article.distinguished %} ({{article.distinguished}}) {% endif %} {% endif %}
    {% if article.submitted %} {{article.date | strftime('%Y')}} {% trans %}(Submitted){% endtrans %} {% endif %}
    {% if article.toappear %} {{article.place}}, {{article.date | strftime('%Y')}} {% trans %}(To appear){% endtrans %} {% endif %}
{% else %}
    {% if article.start and article.end %}
            {{ article.start | strftime('%B %Y')}} – {{ article.end | strftime('%B %Y') }}
    {% elif article.ongoing %}
            {{ article.locale_date}} – …
    {% elif article.nodate %}
    {% else %}
            {{ article.locale_date }}
    {% endif %}
</p>
  {% if article.place %}
  <p>
    {{ article.place}}
  </p>
  {% endif %}
{% endif %}

  <p>
  {% if article.with %} {% trans %}With{% endtrans %} {% endif %}
  {% for author in article.authors %}
    <a class="url fn" href="{{ author | lookup_author_webpage }}">
      {{ author }}{% if author == article.presenter %}°{% endif %}</a>{% if not loop.last %},{% endif %}
  {% endfor %}
  </p>

</div><!-- /.post-info -->