<div class="article_meta">

<!-- Date -->
<p>
{% if article.publication %}
    {% if article.accepted %} {{article.place}}, {{article.date | strftime('%Y')}} {% if article.distinguished %} {% trans %}(Distinguished paper){% endtrans %} {% endif %} {% endif %}
    {% if article.submitted %} {{article.date | strftime('%Y')}} {% trans %}(Submitted){% endtrans %} {% endif %}
    {% if article.toappear %} {{article.place}}, {{article.date | strftime('%Y')}} {% trans %}(To appear){% endtrans %} {% endif %}
{% else %}
    {% if article.start and article.end %}
            {{ article.start | strftime('%B %Y')}} – {{ article.end | strftime('%B %Y') }}
    {% elif article.ongoing %}
            {{ article.locale_date}} – …
    {% else %}
            {{ article.locale_date }}
    {% endif %}
{% if article.place %}
  <br>
    {{ article.place}}{% if article.with %}, {% trans %}with{% endtrans %}{% endif %}
    {% endif %}
{% endif %}

{% if article.place and article.with %}
    {% for author in article.authors %}
      <a class="url fn" href="{{ author | lookup_author_webpage }}">
        {% if author == article.presenter %}<span class="presenter">{% endif %}
        {{ author }}</a>
        {% if not loop.last %},{% endif %}
        {% if author == article.presenter %}</span>{% endif %}
    {% endfor %}
{% elif article.with %}
    <br>
    {% trans %}With{% endtrans %}
    {% for author in article.authors %}
        <a class="url fn" href="{{ author | lookup_author_webpage }}">{{ author }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
{% elif article.authors %}
  <br>
  {% for author in article.authors %}
    <a class="url fn" href="{{ author | lookup_author_webpage }}">
      {% if author == article.presenter %}<span class="presenter">{% endif %}
      {{ author }}</a>{% if not loop.last %},{% endif %}
      {% if author == article.presenter %}</span>{% endif %}
  {% endfor %}
{% endif %}

</div><!-- /.post-info -->