<div class ="article-links">
  {% if article.doi %}
  <a href="http://doi.org/{{article.doi}}">DOI</a>
{% endif %}
{% if article.pdf_ex %}
  <a href="{{article.pdf_ex}}">Pdf</a>
{% endif %}
{% if article.pdf_loc %}
  <a href="{{SITE_URL}}/documents/{{article.pdf_loc}}">Pdf</a>
{% endif %}
{% if article.slides_ex %}
  <a href="{{article.slides_ex}}">Slides</a>
{% endif %}
{% if article.slides_loc %}
<a href="{{SITE_URL}}/documents/{{article.slides_loc}}">Slides</a>
{% endif %}
{% if article.hal %}
  <a href="{{article.hal}}">Hal</a>
{% endif %}
{% if article.video %}
  <a href="{{article.video}}">{% trans %}Video{% endtrans %} </a>
{% endif %}
{% if article.arxiv %}
  <a href="{{article.arxiv}}">arXiv</a>
{% endif %}
{% if article.page %}
  <a href="{{article.page}}">Page</a>
{% endif %}
{% if article.bib %}
  <a href="{{SITE_URL}}/documents/{{article.bib}}">BibTeX</a>
{% endif %}
</div>